@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

:root{
    --fundoFeed: #f4f6f8;
    --Cards: #B7BFCA;
    --CorCabecalho: #263238;
    --Botao: #455A64;
    --EfeitoBotao: #97b5c2;
    --Titulo: #333;
}

body.fundoFeed {
    background-color: var(--fundoFeed);
    color: var(--Titulo);
}


header {
    background-color: var(--CorCabecalho);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: var(--EfeitoBotao);
}


header nav button, header nav .btn {
    background-color: var(--Botao);
    color: #ffffff;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

header nav button:hover, header nav .btn:hover {
    background-color: var(--EfeitoBotao);
    color: white;
}

main {
    padding: 40px;
    text-align: center;
}

main h1 {
    font-size: 1.8rem;
    max-width: 700px;
    margin: 0 auto;
    color: var(--Titulo);
}

main section{
    background-color: var(--Cards);
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 30px;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

main section img{
    width: 200px;
}

    /*
footer {
    background-color: #263238;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
*/