/* Responsividade */

@media (max-width: 460px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    header nav ul li{
        font-size: 0.3rem;
    }

    main section {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width: 536px) {
    .modal-conteudo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .modal-conteudo .capa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        margin: 6rem 0 3rem;
    }
    
    header nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    figure img{
        width: 2rem;
        height: 2rem;
        object-fit: cover;
    }
}

@media (max-width: 670px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    .card-text h4 {
        margin-top: 2rem;
    }

    footer h2 {
        font-size: 1.5rem;
        margin: 5px;
        color: #ffffff;
    }
}


@media (max-width: 600px) {
    header nav ul li {
        font-size: 0.9rem;
    }

    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        width: 100%;
        max-width: 240px;
    }

    .acoes {
        justify-content: center;
        width: 2;
    }

    .acoes img {
        width: 1.6rem;
        filter: invert(100%);
    }

    .card-text h4 {
        margin-top: 2rem;
    }

    footer h2 {
        font-size: 1rem;
        margin: 5px;
        color: #ffffff;
    }
}

@media (max-width: 748px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        flex-wrap: nowrap;
    }

    header nav ul {
        list-style: none;
        display: flex;
        gap: 5px;
    }

    header nav a {
        color: white;
        text-decoration: none;
        font-weight: 500;

    }

    .card-text h4 {
        margin-top: 2rem;
    }

    footer h2 {
        font-size: 1.5rem;
        margin: 5px;
        color: #ffffff;
    }
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main figure {
        height: 250px;
    }

    main section {
        padding: 20px;
    }

    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .Card-Text h4 {
        margin-top: 1.8rem;
        font-size: 1rem;
    }

    header nav ul {
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    header nav a,
    header nav .btn {
        width: 100%;
        text-align: center;
    }


    .search-form {
        width: 100%;
        justify-content: center;
    }

    .search-form input {
        width: 70%;
    }
}


@media (max-width: 802px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}


@media (max-width: 860px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .acoes button img {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 516px) {
    .card-text h4 {
        margin-top: 2rem;
    }

    footer h2 {
        font-size: 1rem;
        margin: 5px;
        color: #ffffff;
    }
}