@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

$Fundo: #f5f0e6;
$Cards: #b7bfca;
$CorCabecalho: #263238;
$Botao: #455a64;
$EfeitoBotao: #97b5c2;
$Titulo: #333;
$Completo: #4caf50;
$Lendo: #ffa726;
$buscar: #b7bfca;

/*Dark Mode*/

